# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
+ data source: http://jsonstudio.com/resources/
****

In [4]:
import pandas as pd

## imports for Python, Pandas

In [5]:
import json
from pandas.io.json import json_normalize

## JSON example, with string

+ demonstrates creation of normalized dataframes (tables) from nested json string
+ source: http://pandas.pydata.org/pandas-docs/stable/io.html#normalization

In [6]:
# define json string
data = [{'state': 'Florida', 
         'shortname': 'FL',
         'info': {'governor': 'Rick Scott'},
         'counties': [{'name': 'Dade', 'population': 12345},
                      {'name': 'Broward', 'population': 40000},
                      {'name': 'Palm Beach', 'population': 60000}]},
        {'state': 'Ohio',
         'shortname': 'OH',
         'info': {'governor': 'John Kasich'},
         'counties': [{'name': 'Summit', 'population': 1234},
                      {'name': 'Cuyahoga', 'population': 1337}]}]

In [7]:
# use normalization to create tables from nested element
json_normalize(data, 'counties')

         name  population
0        Dade       12345
1     Broward       40000
2  Palm Beach       60000
3      Summit        1234
4    Cuyahoga        1337

In [8]:
# further populate tables created from nested element
json_normalize(data, 'counties', ['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich

****
## JSON example, with file

+ demonstrates reading in a json file as a string and as a table
+ uses small sample file containing data about projects funded by the World Bank 
+ data source: http://jsonstudio.com/resources/

In [9]:
# load json as string
json.load((open('data/world_bank_projects_less.json')))

[{'_id': {'$oid': '52b213b38594d8a2be17c780'},
  'approvalfy': 1999,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-12T00:00:00Z',
  'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
  'closingdate': '2018-07-07T00:00:00Z',
  'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
  'countrycode': 'ET',
  'countryname': 'Federal Democratic Republic of Ethiopia',
  'countryshortname': 'Ethiopia',
  'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 0,
  'ibrdcommamt': 0,
  'id': 'P129828',
  'idacommamt': 130000000,
  'impagency': 'MINISTRY OF EDUCATION',
  'lendinginstr': 'Investment Project Financing',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 550000000,
  'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
   {'Name': 'Education', 'Percent': 26},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
   {'Name': 'Education', 'Percent': 12}],
  'mjsector_namecode': [{'name': 'Education', 'code': 'EX'},
   {'name': 'Education', 'code': 'EX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'},
   {'name': 'Education', 'code': 'EX'}],
  'mjtheme': ['Human development'],
  'mjtheme_namecode': [{'name': 'Human development', 'code': '8'},
   {'name': '', 'code': '11'}],
  'mjthemecode': '8,11',
  'prodline': 'PE',
  'prodlinetext': 'IBRD/IDA',
  'productlinetype': 'L',
  'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
  'project_name': 'Ethiopia General Education Quality Improvement Project II',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b081e545fb_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
    'DocDate': '28-AUG-2013'},
   {'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
    'DocType': 'IP',
    'EntityID': '000442464_20130920111729',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
    'DocDate': '01-JUL-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.',
    'DocType': 'PID',
    'EntityID': '090224b0817b19e2_1_0',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
    'DocDate': '22-NOV-2012'}],
  'projectfinancialtype': 'IDA',
  'projectstatusdisplay': 'Active',
  'regionname': 'Africa',
  'sector': [{'Name': 'Primary education'},
   {'Name': 'Secondary education'},
   {'Name': 'Public administration- Other social services'},
   {'Name': 'Tertiary education'}],
  'sector1': {'Name': 'Primary education', 'Percent': 46},
  'sector2': {'Name': 'Secondary education', 'Percent': 26},
  'sector3': {'Name': 'Public administration- Other social services',
   'Percent': 16},
  'sector4': {'Name': 'Tertiary education', 'Percent': 12},
  'sector_namecode': [{'name': 'Primary education', 'code': 'EP'},
   {'name': 'Secondary education', 'code': 'ES'},
   {'name': 'Public administration- Other social services', 'code': 'BS'},
   {'name': 'Tertiary education', 'code': 'ET'}],
  'sectorcode': 'ET,BS,ES,EP',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Education for all', 'Percent': 100},
  'theme_namecode': [{'name': 'Education for all', 'code': '65'}],
  'themecode': '65',
  'totalamt': 130000000,
  'totalcommamt': 130000000,
  'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'},
 {'_id': {'$oid': '52b213b38594d8a2be17c781'},
  'approvalfy': 2015,
  'board_approval_month': 'November',
  'boardapprovaldate': '2013-11-04T00:00:00Z',
  'borrower': 'GOVERNMENT OF TUNISIA',
  'country_namecode': 'Republic of Tunisia!$!TN',
  'countrycode': 'TN',
  'countryname': 'Republic of Tunisia',
  'countryshortname': 'Tunisia',
  'docty': 'Project Information Document,Integrated Safeguards Data Sheet,Integrated Safeguards Data Sheet,Project Information Document,Integrated Safeguards Data Sheet,Project Information Document',
  'envassesmentcategorycode': 'C',
  'grantamt': 4700000,
  'ibrdcommamt': 0,
  'id': 'P144674',
  'idacommamt': 0,
  'impagency': 'MINISTRY OF FINANCE',
  'lendinginstr': 'Specific Investment Loan',
  'lendinginstrtype': 'IN',
  'lendprojectcost': 5700000,
  'majorsector_percent': [{'Name': 'Public Administration, Law, and Justice',
    'Percent': 70},
   {'Name': 'Public Administration, Law, and Justice', 'Percent': 30}],
  'mjsector_namecode': [{'name': 'Public Administration, Law, and Justice',
    'code': 'BX'},
   {'name': 'Public Administration, Law, and Justice', 'code': 'BX'}],
  'mjtheme': ['Economic management', 'Social protection and risk management'],
  'mjtheme_namecode': [{'name': 'Economic management', 'code': '1'},
   {'name': 'Social protection and risk management', 'code': '6'}],
  'mjthemecode': '1,6',
  'prodline': 'RE',
  'prodlinetext': 'Recipient Executed Activities',
  'productlinetype': 'L',
  'project_name': 'TN: DTF Social Protection Reforms Support',
  'projectdocs': [{'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131024115616',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131024115616',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20131024151611',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20131024151611',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000442464_20131031112136',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20131031112136',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000333037_20131031105716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000333037_20131031105716',
    'DocDate': '29-MAR-2013'},
   {'DocTypeDesc': 'Integrated Safeguards Data Sheet (ISDS),  Vol.1 of 1',
    'DocType': 'ISDS',
    'EntityID': '000356161_20130305113209',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113209',
    'DocDate': '16-JAN-2013'},
   {'DocTypeDesc': 'Project Information Document (PID),  Vol.1 of 1',
    'DocType': 'PID',
    'EntityID': '000356161_20130305113716',
    'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000356161_20130305113716',
    'DocDate': '16-JAN-2013'}],
  'projectfinancialtype': 'OTHER',
  'projectstatusdisplay': 'Active',
  'regionname': 'Middle East and North Africa',
  'sector': [{'Name': 'Public administration- Other social services'},
   {'Name': 'General public administration sector'}],
  'sector1': {'Name': 'Public administration- Other social services',
   'Percent': 70},
  'sector2': {'Name': 'General public administration sector', 'Percent': 30},
  'sector_namecode': [{'name': 'Public administration- Other social services',
    'code': 'BS'},
   {'name': 'General public administration sector', 'code': 'BZ'}],
  'sectorcode': 'BZ,BS',
  'source': 'IBRD',
  'status': 'Active',
  'supplementprojectflg': 'N',
  'theme1': {'Name': 'Other economic management', 'Percent': 30},
  'theme_namecode': [{'name': 'Other economic management', 'code': '24'},
   {'name': 'Social safety nets', 'code': '54'}],
  'themecode': '54,24',
  'totalamt': 0,
  'totalcommamt': 4700000,
  'url': 'http://www.worldbank.org/projects/P144674?lang=en'}]

In [10]:
# load as Pandas dataframe
sample_json_df = pd.read_json('data/world_bank_projects_less.json')
sample_json_df

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Name': 'Education for all', 'Percent': 100}","[{'name': 'Education for all', 'code': '65'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Name': 'Other economic management', 'Percent...","[{'name': 'Other economic management', 'code':...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

###### Data import
Import the data into the workbook

In [66]:
data = pd.read_json('data/world_bank_projects.json')

###### Part 1: Find the 10 countries with most projects
Use the imported json data and return the 10 countries with the most projects

Key things to note:
* There are no null values for the countryname field
    * as a result, in grouping on this we are not at risk of neglecting any records

In [65]:
# Aggregate over the number of each contry code in the dataframe
grouped_data = data.groupby('countryname')[['countryname']].count()

# Rename the aggregation column to represent the value better
grouped_data.rename(columns={'countryname':'country_count'}, inplace=True)

# Change the ordering to that of the tally of countries
sorted_grouped_data = grouped_data.sort_values('country_count', ascending=False)

# Extract the top 10
sorted_grouped_data.head(10)

                                 country_count
countryname
People's Republic of China                  19
Republic of Indonesia                       19
Socialist Republic of Vietnam               17
Republic of India                           16
Republic of Yemen                           13
People's Republic of Bangladesh             12
Nepal                                       12
Kingdom of Morocco                          12
Republic of Mozambique                      11
Africa                                      11

###### Part 2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [129]:
# extract the theme namecode column from our data.
theme_data = data['mjtheme_namecode']

# parse out the list in each row to have a different column for each element
theme_data = theme_data.apply(pd.Series)

# melt the data such that all of the created columns move back to being rows.
theme_data = theme_data.melt()

# drop the variable column as this is just enumerated entries of the list
theme_data.drop(['variable'], axis=1, inplace=True)

# remove the null entries as these are meaningless (the list for that id was just shorter)
theme_data.dropna(inplace=True)

# parse the dict that remains to get the code and name values into seperate columns
theme_data = theme_data['value'].apply(pd.Series)

In [130]:
# Agregate by the code (name is not always populated -- there are some missing values)
theme_data_grouped = theme_data.groupby(['code']).count()

# Rename the column to be clear what we have
theme_data_grouped.rename(columns={'name':'code_count'}, inplace=True)

# Re-order the code counts to have the most frequent at top.
theme_data_grouped_sorted =  theme_data_grouped.sort_values('code_count', ascending=False)

# Extract the 10 most frequent for requested result
theme_data_grouped_sorted.head(10)

      code_count
code
11           250
10           216
8            210
2            199
6            168
4            146
7            130
5             77
9             50
1             38

###### Part 3: Create a dataframe with the missing elements from part 2 filled in
* Get a table of code-name pairings
* Get a list of column names, removing the column we don't want to keep (mjtheme_namecode)
* Get the desired result
    * Extract the data from column (mjtheme_namecode)
    * Convert the original data into a table with the extracted data sets as different rows
    * Pull out the needed information from each row
    * Combine with the code-name pairings determined such that all records have the desired value

In [220]:
# fetch the set of code name pairs in the dataset
code_name_match = data['mjtheme_namecode'].apply(pd.Series).melt().dropna()['value'].apply(pd.Series)

# move the code to the index and sort by it
code_name_match = code_name_match.set_index('code').sort_index()

# Remove duplicates
code_name_match.drop_duplicates(inplace=True)

# Remove those that do not have name information
code_name_match = code_name_match[code_name_match['name'] != '']

In [221]:
# Get a list of the columns in the original dataframe and drop our parsed column (mjtheme_namecode)
melt_columns = data.columns.values.tolist()
melt_columns.remove('mjtheme_namecode')

In [225]:
# As before, extract the information in theme_namecode out
theme_data = data['mjtheme_namecode'].apply(pd.Series)

# Combine the extracted information with the original data and drop the column we parsed out
data_full = data.merge(theme_data, right_index=True, left_index=True).drop(['mjtheme_namecode'], axis=1)

# melt the table
data_full = data_full.melt(id_vars=melt_columns, value_name='code_data')

# drop the rows that did not have data when melting
data_full.dropna(inplace=True, subset=['code_data'])

# Add a column of code, extracting it from the code_data field
data_full['code'] = data_full['code_data'].apply(lambda x: x.get('code'))

# use the code name table determined earlier with this to fill in the name data
# and return order to that of the index
data_full = data_full.merge(code_name_match, left_on='code', right_index=True).sort_index()

# Display result
data_full

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,theme1,theme_namecode,themecode,totalamt,totalcommamt,url,variable,code_data,code,name
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...,0,"{'code': '8', 'name': 'Human development'}",8,Human development
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en,0,"{'code': '1', 'name': 'Economic management'}",1,Economic management
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en,0,"{'code': '5', 'name': 'Trade and integration'}",5,Trade and integration
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en,0,"{'code': '7', 'name': 'Social dev/gender/inclu...",7,Social dev/gender/inclusion
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...,0,"{'code': '5', 'name': 'Trade and integration'}",5,Trade and integration
5,{'$oid': '52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en,0,"{'code': '6', 'name': 'Social protection and r...",6,Social protection and risk management
6,{'$oid': '52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...,0,"{'code': '2', 'name': 'Public sector governance'}",2,Public sector governance
7,{'$oid': '52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...,0,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
8,{'$oid': '52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"{'Percent': 87, 'Name': 'Other rural developme...","[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
9,{'$oid': '52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"{'Percent': 33, 'Name': 'Other accountability/...","[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en,0,"{'code': '2', 'name': 'Public sector governance'}",2,Public sector governance
10,{'$oid': '52b213b38594d8a2be17c78a'},2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
12,{'$oid': '52b213b38594d8a2be17c78c'},2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,"{'Percent': 0, 'Name': ''}",NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...,0,"{'code': '4', 'name': ''}",4,Financial and private sector development
13,{'$oid': '52b213b38594d8a2be17c78d'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,"{'Percent': 20, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...,0,"{'code': '5', 'name': 'Trade and integration'}",5,Trade and integration
14,{'$oid': '52b213b38594d8a2be17c78e'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,"{'Percent': 50, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en,0,"{'code': '6', 'name': 'Social protection and r...",6,Social protection and risk management
15,{'$oid': '52b213b38594d8a2be17c78f'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
16,{'$oid': '52b213b38594d8a2be17c790'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,"{'Percent': 100, 'Name': 'Other rural developm...","[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
17,{'$oid': '52b213b38594d8a2be17c791'},2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en,0,"{'code': '8', 'name': 'Human development'}",8,Human development
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en,0,"{'code': '8', 'name': 'Human development'}",8,Human development
19,{'$oid': '52b213b38594d8a2be17c793'},2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"{'Percent': 40, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en,0,"{'code': '2', 'name': 'Public sector governance'}",2,Public sector governance
20,{'$oid': '52b213b38594d8a2be17c794'},2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en,0,"{'code': '7', 'name': 'Social dev/gender/inclu...",7,Social dev/gender/inclusion
21,{'$oid': '52b213b38594d8a2be17c795'},2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,"{'Percent': 30, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en,0,"{'code': '9', 'name': 'Urban development'}",9,Urban development
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en,0,"{'code': '7', 'name': 'Social dev/gender/inclu...",7,Social dev/gender/inclusion
23,{'$oid': '52b213b38594d8a2be17c797'},2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,"{'Percent': 60, 'Name': 'Nutrition and food se...","[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en,0,"{'code': '8', 'name': 'Human development'}",8,Human development
24,{'$oid': '52b213b38594d8a2be17c798'},2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,"{'Percent': 30, 'Name': 'Rural markets'}","[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
25,{'$oid': '52b213b38594d8a2be17c799'},2014,September,2013-09-30T00:00:00Z,UNIVERSITY OF QUEENSLAND,NaN,East Asia and Pacific!$!4E,4E,East Asia and Pacific,East Asia and Pacific,...,"{'Percent': 40, 'Name': 'Other environment and...","[{'code': '86', 'name': 'Other environment and...","80,81,86",0,4500000,http://www.worldbank.org/projects/P123933/capt...,0,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
26,{'$oid': '52b213b38594d8a2be17c79a'},2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,"{'Percent': 14, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...,0,"{'code': '4', 'name': 'Financial and private s...",4,Financial and private sector development
27,{'$oid': '52b213b38594d8a2be17c79b'},2014,September,2013-09-30T00:00:00Z,PACIFIC AVIATION SECURITY OFFICE,2018-12-31T00:00:00Z,Pacific Islands!$!4P,4P,Pacific Islands,Pacific Islands,...,"{'Percent': 5, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","52,47,25,81",2150000,2150000,http://www.worldbank.org/projects/P145057/paci...,0,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
28,{'$oid': '52b213b38594d8a2be17c79c'},2014,September,2013-09-30T00:00:00Z,SOLOMON ISLANDS GOVERNMENT,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,"{'Percent': 30, 'Name': 'Rural policies and in...","[{'code': '77', 'name': 'Rural policies and in...","57,78,77",3000000,3000000,http://www.worldbank.org/projects/P146021?lang=en,0,"{'code': '10', 'name': 'Rural development'}",10,Rural development
29,{'$oid': '52b213b38594d8a2be17c79d'},2014,September,2013-09-27T00:00:00Z,GOVERNMENT OF MOZAMBIQUE,NaN,Republic of Mozambique!$!MZ,MZ,Republic of Mozambique,Mozambique,...,"{'Percent': 4, 'Name': 'Other social developme...","[{'code': '62', 'name': 'Other social developm...","85,62",32000000,32000000,http://www.worldbank.org/projects/P146098?lang=en,0,"{'code': '7', 'name': 'Social dev/gender/inclu...",7,Social dev/gender/inclusion
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2289,{'$oid': '52b213b38594d8a2be17c8a1'},2013,March,2013-03-14T00:00:00Z,NaN,NaN,Republic of Benin!$!BJ,BJ,Republic of Benin,Benin,...,"{'Percent': 31, 'Name': 'Biodiversity'}","[{'code': '80', 'name': 'Biodiversity'}, {'cod...","83,79,82,81,80",0,5560000,http://www.worldbank.org/projects/P131051/af-f...,4,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
2290,{'$oid': '52b213b38594d8a2be17c8a2'},2013,March,2013-03-14T00:00:00Z,"REPUBLIC OF RWANDA, MINECOFIN",NaN,Republic of Rwanda!$!RW,RW,Republic of Rwanda,Rwanda,...,"{'Percent': 10, 'Name': 'Gender'}","[{'code': '59', 'name': 'Gender'}, {'code': '5...","53,54,55,52,59",50000000,50000000,http://www.worldbank.org/projects/P131666/rwan...,4,"{'code': '6', 'name': 'Social protection and r...",6,Social protection and risk management
2306,{'$oid': '52b213b38594d8a2be17c8b2'},2013,February,2013-02-28T00:00:00Z,ISLAMIC REPUBLIC OF AFGHANISTAN,2018-06-30T00:00:00Z,Islamic State of Afghanistan!$!AF,AF,Islamic State of Afghanistan,Afghanistan,...,"{'Percent': 15, 'Name': 'Other communicable di...","[{'code': '64', 'name': 'Other communicable di...","67,69,63,68,64",100000000,100000000,http://www.worldbank.org/projects/P129663/afgh...,4,"{'code': '8', 'name': 'Human development'}",8,Human development
2313,{'$oid': '52b213b38594d8a2be17c8b9'},2013,February,2013-02-19T00:00:00Z,GOVERNMENT OF RWANDA,NaN,Republic of Rwanda!$!RW,RW,Republic of Rwanda,Rwanda,...,"{'Percent': 35, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","39,78,81,41,71",60000000,60000000,http://www.worldbank.org/projects/P126489/rwan...,4,"{'code': '4', 'name': 'Financial and private s...",4,Financial and private sector development
2334,{'$oid': '52b213b38594d8a2be17c8ce'},2013,January,2013-01-29T00:00:00Z,REPUBLIC OF UZBEKISTAN,NaN,Republic of Uzbekistan!$!UZ,UZ,Republic of Uzbekistan,Uzbekistan,...,"{'Percent': 6, 'Name': 'Water resource managem...","[{'code': '85', 'name': 'Water resource manage...","83,78,79,81,85",0,12700000,http://www.worldbank.org/projects/P127486/sust...,4,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
2339,{'$oid': '52b213b38594d8a2be17c8d3'},2013,January,2013-01-22T00:00:00Z,GOVERNMENT OF TUNISIA,2018-07-31T00:00:00Z,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"{'Percent': 15, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","41,82,83,80,57",0,4270000,http://www.worldbank.org/projects/P120561/tuni...,4,"{'code': '4', 'name': 'Financial and private s...",4,Financial and private sector development
2349,{'$oid': '52b213b38594d8a2be17c8dd'},2013,January,2013-01-10T00:00:00Z,IUCN & WWF,2016-12-31T00:00:00Z,Europe and Central Asia!$!7E,7E,Europe and Central Asia,Europe and Central Asia,...,"{'Percent': 21, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","82,80,77,59,81",0,11100000,http://www.worldbank.org/projects/P131138/enpi...,4,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
2351,{'$oid': '52b213b38594d8a2be17c8df'},2013,January,2013-01-09T00:00:00Z,MINISTRY OF ENVIRONMENT AND FORESTS,2016-02-18T00:00:00Z,Republic of Togo!$!TG,TG,Republic of Togo,Togo,...,"{'Percent': 20, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","86,85,56,52,81",0,7290000,http://www.worldbank.org/projects/P123922/inte...,4,"{'code': '11', 'name': 'Environment and natura...",11,Environment and natural resources management
2358,{'$oid': '52b213b38594d8a2be17c8e6'},2013,December,2012-12-20T00:00:00Z,GOVERNMENT OF SENEGAL,2014-03-31T00:00:00Z,Republic of Senegal!$!SN,SN,Republic of Senegal,Senegal,...,"{'Percent': 43, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","39,67,78,25,27",55000000,55000000,http://www.worldbank.org/projects/P128284/sn--...,4,"{'code': '4', 'name': 'Financial and private s...",4,Financial and private sector development
2360,{'$oid': '52b213b38594d8a2be17c8e8'},2013,December,2012-12-20T00:00:00Z,BURKINA FASO,2018-05-31T00:00:00Z,Burkina Faso!$!BF,BF,Burkina Faso,Burkina Faso,...,"{'Percent': 16, 'Name': 'Land administration a...","[{'code': '83', 'name': 'Land administration a...","78,59,26,57,83",70000000,70000000,http://www.worldbank.org/projects/P129688/thir...,4,"{'code': '10', 'name': 'Rural development'}",10,Rural development
2377,{'$oid': '52b213b38594d8a2be17c8f9'},2013,December,2012-12-11T00:00:00Z,REPUBLIC OF INDONESIA,2015-12-31T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,"{'Percent': 38, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","78,68,65,77,57",650000000,650000000,http://www.worldbank.org/projects/P128832/nati...,4,"{'code': '10', 'name': 'Rural development'}",10,Rural development
2384,{'$oid': '52b213b38594d8a2be17c900'},2013,November,2012-11-29T00:00:00Z,UNION OF THE COMOROS,2013-12-30T00:00:00Z,Union of the Comoros!$!KM,KM,Union of the Comoros,Comoros,...,"{'Percent': 12, 'Name': 'Natural disaster mana...","[{'code': '52', 'name': 'Natural disaster mana...","25,30,27,29,52",5000000,5000000,http://www.worldbank.org/projects/P122941/como...,4,"{'code': '2', 'name': 'Public sector governance'}",2,Public sector governance
2385,{'$oid': '52b213b38594d8a2be17c901'},2013,November,2012-11-29T00:00:00Z,FORMER YUGOSLAV REPUBLIC OF MACEDONIA,2013-06-28T00:00:00Z,"Macedonia, former Yugoslav Republic of!$!MK",MK,"Macedonia, former Yugoslav Republic of","Macedonia, former Yugoslav Republic of",...,"{'Percent': 33, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","51,79,40,49,45",50000000,50000000,http://www.worldbank.org/projects/P126038/comp...,4,"{'code': '6', 'name': 'Social protection and r...",6,Social protection and risk management
2386,{'$oid': '52b213b38594d8a2be17c902'},2013,November,2012-11-29T00:00:00Z,NaN,2016-07-31T00:00:00Z,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","65,68,67,69,63",65000000,65000000,http://www.worldbank.org/projects/P131945/mada...,4,"{'code': '8', 'name': 'Human development'}",8,Human development
2387,{'$oid': '52b213b38594d8a2be17c903'},2013,November,2012-11-29T00:00:00Z,MINISTRY OF FINANCE AND BUDGET,2017-06-30T00:00:00Z,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,"{'Percent': 11, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","79,87,52,78,54",102000000,102000000,http://www.worldbank.org/projects/P132101/emer...,4,"{'code': '10', 'name': 'Rural development'}",10,Rural development